In [ ]:
#Recommender algorithm

In [44]:
# import libraries 
import pandas as pd
import numpy as np

#https://www.kaggle.com/ayushimishra2809/movielens-dataset?select=ratings.csv

url = 'https://raw.githubusercontent.com/oameddina/DLSM2021/main/rating.csv'
df = pd.read_csv(url,index_col=0)

print (df)

type(df)

        movieId  rating   timestamp
userId
1            16     4.0  1217897793
1            24     1.5  1217895807
1            32     4.0  1217896246
1            47     4.0  1217896556
1            50     4.0  1217896523
...         ...     ...         ...
668      142488     4.0  1451535844
668      142507     3.5  1451535889
668      143385     4.0  1446388585
668      144976     2.5  1448656898
668      148626     4.5  1451148148

[105339 rows x 3 columns]

pandas.core.frame.DataFrame

In [45]:

urlm = 'https://raw.githubusercontent.com/oameddina/DLSM2021/main/rating.csv'
dfm = pd.read_csv(urlm,index_col=0)

print (dfmovies)

       movieId                                title  \
0            1                     Toy Story (1995)
1            2                       Jumanji (1995)
2            3              Grumpier Old Men (1995)
3            4             Waiting to Exhale (1995)
4            5   Father of the Bride Part II (1995)
...        ...                                  ...
10324   146684        Cosmic Scrat-tastrophe (2015)
10325   146878           Le Grand Restaurant (1966)
10326   148238       A Very Murray Christmas (2015)
10327   148626                 The Big Short (2015)
10328   149532  Marco Polo: One Hundred Eyes (2015)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
10324                    Animation|Children|Comedy
10325                                       Comedy
10326                                       Comedy
10327                                        Drama
10328                           (no genres listed)

[10329 rows x 3 columns]

In [46]:
# Count values according to "movieId"
newdf = df['movieId'].value_counts()
newdf.fillna(0)
print(newdf)
len(newdf)
type(newdf)

296      325
356      311
318      308
480      294
593      290
        ...
60482      1
78905      1
7196       1
5085       1
6109       1
Name: movieId, Length: 10325, dtype: int64

pandas.core.series.Series

In [47]:
# Add numeration
aa=newdf.to_frame().reset_index()
aa

       index  movieId
0        296      325
1        356      311
2        318      308
3        480      294
4        593      290
...      ...      ...
10320  60482        1
10321  78905        1
10322   7196        1
10323   5085        1
10324   6109        1

[10325 rows x 2 columns]

In [48]:
# Change column name movieId to number of ratings
aa = aa.rename(columns={'movieId': 'number of ratings'})
aa = aa.rename(columns={'index': 'movieId'})
print(aa)

       movieId  number of ratings
0          296                325
1          356                311
2          318                308
3          480                294
4          593                290
...        ...                ...
10320    60482                  1
10321    78905                  1
10322     7196                  1
10323     5085                  1
10324     6109                  1

[10325 rows x 2 columns]

In [49]:
# Get the 80% of least rated movies
smallaa = aa.nsmallest(8260, ['number of ratings'])
print(smallaa)

      movieId  number of ratings
6687    26034                  1
6688    64930                  1
6689   124867                  1
6690     3839                  1
6691     6828                  1
...       ...                ...
2110     4508                 11
2111     2247                 11
2112     2540                 11
2113    39446                 11
2114     6857                 11

[8260 rows x 2 columns]

In [50]:
# Adding up the number of ratings

smallaa.sum(axis = 0, skipna = True)

movieId              302546838
number of ratings        23885
dtype: int64

In [51]:
# Smallaa is a dynamic database which lists the films with the least number of ratings. 
# Now we have a pool of movies where content based recommender system will be applied.  

df_movieData = pd.merge(smallaa, dfmovies, on = 'movieId')
print(df_movieData)

      movieId  number of ratings  \
0       26034                  1
1       64930                  1
2      124867                  1
3        3839                  1
4        6828                  1
...       ...                ...
8255     4508                 11
8256     2247                 11
8257     2540                 11
8258    39446                 11
8259     6857                 11

                                                  title  \
0                               Last Hurrah, The (1958)
1                          More the Merrier, The (1943)
2             Justice League: Throne of Atlantis (2015)
3                          Phantasm IV: Oblivion (1998)
4     Sunday in the Country, A (Un dimanche Ã  la cam...
...                                                 ...
8255                        Gorillas in the Mist (1988)
8256                          Married to the Mob (1988)
8257                              Corruptor, The (1999)
8258                                      Saw II (2005)
8259               Ninja Scroll (JÃ»bei ninpÃ»chÃ´) (1995)

                                  genres
0                                  Drama
1                         Comedy|Romance
2                       Action|Animation
3                                 Horror
4                                  Drama
...                                  ...
8255                               Drama
8256                              Comedy
8257         Action|Crime|Drama|Thriller
8258                     Horror|Thriller
8259  Action|Adventure|Animation|Fantasy

[8260 rows x 4 columns]

In [59]:
# Select 5 random films from the genre

df_movieData.sample(n=8)

,movieId,number of ratings,title,genres
2079,2698,1,Zone 39 (1997),Sci-Fi
6625,105213,5,Don Jon (2013),Comedy|Drama|Romance
1285,7382,1,I'm Not Scared (Io non ho paura) (2003),Drama|Mystery|Thriller
5450,6196,3,Cradle 2 the Grave (2003),Action|Crime|Drama|Thriller
4128,4999,2,Dodsworth (1936),Drama|Romance
1171,3914,1,"Broken Hearts Club, The (2000)",Drama
8202,2518,11,Night Shift (1982),Comedy
6980,2051,6,Herbie Goes to Monte Carlo (1977),Adventure|Children|Comedy